/*Creates separate pages*/
#about {
    height: 130%;
    padding-top: 30px;
}
#contact, #compsci, #landing-page {
    height: 130%;
    padding-top: 30px;
}

#art {
    height:160%;
    padding-top: 30px;
}
body {
    background-color: #323231;
}
/*Landing Page*/


#landing-page h1{
    padding-top: 200px;
    font-family: 'Bangers', 'sans-serif';
    color:#EE0C70;
    font-size: 150px;
}

#landing-page h3 {
    text-align: center;
    font-family: 'Oswald', 'sans-serif';
    font-size:72px;
    color:white;
}

#landing-page img {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:100px;
    height: 100px;
}
/*Nav Bar*/
#name {
    float: left;
}
.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323231;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-menu li {
    display: inline;
}
li{
    display: inline;
}

.nav-menu a {
    float:right;
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding:  13px;
    text-decoration: none;
}

.menu-link:hover:not(.active) {
    background-color: gray;
}

.nav-menu li {
    font-weight: 900
}
.active {
    background-color: #FFB7C9;
}
a {
    text-decoration: none;
}
/* General*/
h1 {
    font-family: 'Bangers', cursive;
    text-align: left;
    font-size: 80px;
    text-align: center;
}

#about h1, #compsci h1, #art h1, #contact h1 {
    display:none;
}

/*About*/
#about {
    background-color: #EE0C70;
}

#about-content {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

#extra{
    display:none;
}
.img-cirlce img{
    border-radius:50%;
    height: 12%;
    width: 22%;
}
.img-cirlce {
    text-align: center;
}
#about a {
    color: #FFF;
}
#about a:hover:not(.active) {
    color: #0DB5B6;
}

#datme {
    padding-top: 50px;
    display: block;
    width:20%;
    height:20%;
    margin-left: auto;
    margin-right: auto;
}

/* Comp Sci*/
#compsci{
    background-color: #BDC517;
}
#compsci-content {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.subtext {
    font-size: 30px;
}

#compsci p{
    padding-left: 250; 
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

#compsci a {
    color: white;
}

#compsci li {
    font-size: 28px;
}

#compsci-icon {
    display: block;
    width: 20%;
    height:15%;
    margin-left: auto;
    margin-right: auto;
}
 /* Art*/
#art {
    background-color: #0DB5B6;
}

#art-content {
    text-align: center;
    padding-top:20px;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

#art-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:45%;
    width:60%;
}

#art-content a{
    text-align: center;
    color: #FFF;
    font-family: 'Oswald', 'sans-serif';
}

#art a:hover:not(.active) {
    color: blueviolet;
}

#art-icon-min {
    padding-top:50px;
    display: block;
    width:20%;
    height:15%;
    margin-left: auto;
    margin-right: auto;   
}

#art-icon-max {
    display:none;
}
.title-icon-max{
    display:none;
}
.title-icon-max img {
    display:none;
}

/* Contact*/
#contact-icon {
    display: block;
    width:20%;
    height:15%;
    margin-left: auto;
    margin-right: auto;
}

#contact-content {
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

#contact {
    background-color: #5BC412;
}
#contact a {
    color: #FFF;
}
#contact a:hover:not(.active) {
    color: #0DB5B6;
}
#contact-content h3 {
    font-size: 130px;
}
#contact-content p {
    font-size: 72px;
}

#city-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Footer*/
#footer{
    height: 1000px;
    font-family: 'Bangers', sans-serif;
    text-align:center;
    font-size: 72px;
    padding-top:150px;
    background-color: #C3159B;
}

#footer p{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

#footer a {
    color: gray;
}
